<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/links/edit/{{link.id}}" method="POST">
                <div class="form-group">
                    <select class="form-control" name="tipo">
                        <option>{{link.tipo}}</option>
                        <option>Integrantes</option>
                        <option>Unidad de atención</option>
                        <option>Red de apoyo</option>
                    </select>
                </div>
                <div class="form-group">
                     <select class="form-control" name="comision">
                        <option>{{link.comision}}</option>
                                <option>Consejo de paz escolar COPAZE</option>
                                <option>Salud física y mental</option>
                                <option>Activación física, deporte, alimentación saludable y nutritiva</option>
                                <option>Arte y cultura</option>
                                <option>Gestión ambiental sostenible y ahorro de recursos</option>
                            </select>
                </div>
                  <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre" value="{{link.nombre}}">
                        </div>
                         <div class="form-group">
                            <input type="text" name="apellido1" class="form-control" placeholder="Primer apellido" value="{{link.apellido1}}">
                        </div>
                         <div class="form-group">
                            <input type="text" name="apellido2" class="form-control" placeholder="Segundo apellido" value="{{link.apellido2}}">
                        </div>
                         <div class="form-group">
                             <select class="form-control" name="cargo">
                                <option>{{link.cargo}}</option>
                                <option>Director o responsable de plantel</option>
                                <option>Subdirector</option>
                                <option>Administrativo</option>
                                <option>Personal de apoyo</option>
                                <option>Alumno</option>
                                <option>Padre de familia</option>
                                <option>Otra figura</option>
                            </select>
                        </div>
                           <div class="form-group">
                            <select class="form-control" name="dependencia">
                                <option>{{link.dependencia}}</option>
                                <option>CONAVIM</option>
                                <option>SIPINNA</option>
                                <option>Secretaría de Salud</option>
                                <option>Fiscalía</option>
                                <option>DIF</option>
                                <option>Instituciones de la mujer</option>
                                <option>Juventud</option>
                                <option>Derechos humanos</option>
                                <option>Organizaciones de la Sociedad
                                    Civil</option>
                            </select>
                        </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>