<style>
    .contenedor-tabla {
        max-height: 550px;
        overflow: auto;
      
        display: inline-block;
    }

    table {
        position: relative;
    }

    thead th {
        position: sticky;
        top: 0;
        background: rgb(2, 170, 106);
        z-index: 1;
        border-bottom: 2px solid;
    }

 
</style>
<br><br><br>
<div class="container">
    <div class="table-responsive contenedor-tabla">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Comisión</th>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Dependencia</th>
                    <th>Archivos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {{#each links}}



            <tbody>
                <tr>
                    <td>{{tipo}}</td>
                    <td>{{comision}}

                    </td>
                    <td>{{nombre}} {{apellido1}} {{apellido2}}</td>
                    <td>{{cargo}}</td>
                    <td>{{dependencia}}</td>
                    <td><a target="_blank" href="uploads/{{archivo1}}">{{archivo1}}</a></td>
                    <!--  <td>{{timeago created_at}}</td> -->
                    <td></a> <a class="btn btn-secondary" href="/links/edit/{{id}}">
                            Editar
                        </a>
                        <a class="btn btn-danger" href="/links/delete/{{id}}">
                            Eliminar

                    </td>
                </tr>


            </tbody>







            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>Aún no tienes nada registrado.</p>
                    <a href="/links/add">Agregar miembros</a>
                </div>
            </div>
            {{/each}}
        </table>
    </div>
</div>